{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Animal</h1>

    <table style="width:100%">
        <tr>
            <th>Nome</th>
            <th>Raça</th>
            <th>Idade</th>
            <th>Doador</th>
            <th>Email do doador</th>
        </tr>
        <tr>
            <td><a href="{% url 'index' %}">{{ animal.nome }}</a></td>
            <td>{{ animal.raca.nome }}</td>
            <td>{{ animal.idade }}</td>
            <td>{{ animal.entidade.nome }}</td>
            <td>{{ animal.entidade.email }}</td>
        </tr>
    </table>

</body>
</html>